
/* media query for tablet */
@media screen and (max-width: 768px) {
    .boolzap-container{
        height: 100vh;
        width: 100%;
        margin: 0 auto;
    }
    
    .boolzap-left{
        width: 100px;
    }
    
    .boolzap-right{
        width: calc(100% - 100px);
    }

    .left-notification, .left-search{
        display: none;
    }

    .left-contacts{
        height: calc(100% - 100px);
    }


    .msg-function, .name-and-bio, .time {
        display: none;
    }

    .left-header, .contact{
        padding: 10px;
    }

    .contact{
        padding: 30px 10px;
    }

    .message-box{
        width: 80%;
    }

    .msg-content{
        width: 80%;
    }

}
/* media query for tablet */

/* media query for mobile*/
@media screen and (max-width: 425px) {
    .boolzap-left{
        display: none;
    }

    .boolzap-right{
        width: 100%;
    }

    .contact-function{
        display: none;
    }

    .contact-infos div {
        padding-left: 20px;
    }

    .message-box{
        width: 90%;
    }

    .right-footer {
        justify-content: center;
    }

    .right-footer i{
        display: none;
    }

    .right-footer input {
        width: 100%;
    }
}
/* /media query for mobile*/