
/* media query for tablet */
@media screen and (max-width: 768px) {
    .boolzap-container{
        height: 100vh;
        width: 100%;
        margin: 0 auto;
    }

    .left-notification, .left-search{
        display: none;
    }

    .left-contacts{
        height: calc(100% - 100px);
    }

    .boolzap-left{
        width: 100px;
    }
    
    .boolzap-right{
        width: calc(100% - 100px);
    }

}
/* media query for tablet */

/* media query for smartphone */
@media screen and (max-width: 425px) {
    .boolzap-left{
        display: none;
    }

    .boolzap-right{
        width: 100%;
    }
}